/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*** custom CSS ***/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  align-content: center;
}

.container {
  background-color: #b3b1b1;
  width: 100%;
  align-content: center;}


.container h1 {
  text-align: center;
  padding: 20px;
  margin: auto;
}

div {
  width: 375px;
  height: 375px;
  margin: 1%;
}  

div h1 {
  float: left;
  padding-left: 20px;
}

.preview-baku {
  background-image: url(../images/baku.jpg);
  background-color: #cccccc;
  background-size: cover;
}

.preview-london {
  background-image: url(../images/london.png);
  background-color: #cccccc;
  background-size: cover;
}

.preview-madrid {
  background-image: url(../images/madrid.jpg);
  background-color: #cccccc;
  background-size: cover;
}

.preview-rome {
  background-image: url(../images/rome.jpg);
  background-color: #cccccc;
  background-size: cover;
}

  @media screen and (min-width: 768px) {
  


  div {
    width: 300px;
    height: 300px;
    float: left;
    margin: 1%;
  }

 
}


@media screen and (min-width: 991px) {

  
div {
  width: 250px;
  height: 250px;
  }  

}