body {
  background-color: #dadada;
  font-size: 10px;
  background: url(images/baku.jpg);
  background: url(images/london.png);
  background: url(images/madrid.png);
  background: url(images/rome.jpg);
}

